{{ define "main" }}
<h1>{{ .Title }}</h1>
<div id="content-nav">
  <a href="/blog"><span>&#8592;</span> Blog</a>
</div>

<section id="archive">
  {{ $type := .Type }} {{ $pages := where .Site.RegularPages "Type" $type }} {{
  $sorted := sort $pages "Date" "desc" }}
  <ul>
    {{ range $sorted }} {{ if not .Params.hidden }}
    <li>
      <div>{{ .Date.Format "01/02/06" }}</div>
      <div><a href="{{ .RelPermalink }}">{{ .Title }}</a></div>
      <div>
        {{ range .GetTerms "tags" }}
        <span class="tag">#{{ .LinkTitle }}</span>
        {{ end }}
      </div>
    </li>
    {{ end }} {{ end }}
  </ul>
</section>
{{ end }}
