@font-face {
  font-family: 'Neuebit';
  font-weight: 400;
  src: url('NeuebitR.woff2') format('woff2'), url('NeuebitR.woff') format('woff');
}

@font-face {
  font-family: 'Neuebit';
  font-weight: 700;
  src: url('NeuebitB.woff2') format('woff2'), url('NeuebitB.woff') format('woff');
}

@font-face {
  font-family: 'Mondwest';
  font-weight: 400;
  src: url('MondwestR.woff2') format('woff2'), url('MondwestR.woff') format('woff');
}

@font-face {
  font-family: 'Mondwest';
  font-weight: 700;
  src: url('MondwestB.woff2') format('woff2'), url('MondwestB.woff') format('woff');
}
