// Smaller screens
@media only screen and (max-width: 999px) {
  body {
    padding: .75rem;
  }

  // --- Header ---
  header {
    text-align: center;
    width: 100%;
    padding-bottom: 1rem;
    padding-top: 1.5rem;
    @include dotted-border(border-bottom, $grey-2);
  }

  #sidebar {
    nav {
      font-size: larger;
      width: 70%;
      margin: auto;
      display: flex;
      flex-flow: row wrap;
      gap: .5rem;
      justify-content: center;
    }
  }

  // --- Gallery ---
  #gallery img {
    // make thumbnails smaller
    max-width: 30%;
  }
}

// Larger screens
@media only screen and (min-width: 1000px) {

  body {
    margin: 0;
  }

  #flex {
    border: 3px solid $white;
    box-shadow: 10px 10px $light-grey-2;
    overflow: scroll;
    max-width: 1100px;
    height: 800px; // extends sidebar border to bottom of screen
    margin: auto;
    margin-top: 50px;
    display: flex;
  }

  main {
    padding: 30px 90px 90px 90px;
    flex: 85%;
    width: 100%; // allows content to take up entire space
  }

  header {
    flex: 15%;
  }

  #sidebar {
    @include dotted-border(border-right, $grey-2);
    padding: 50px 32px 0px 32px;
    position: fixed;
    height: 795px;

    #site-title {
      margin-left: -2.5rem;
    }

    nav a {
      display: block;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}
