// Smaller screens
@media only screen and (max-width: 999px) {
  body {
    padding: .75rem;
  }

  // --- Header ---
  header {
    text-align: center;
    width: 100%;
    padding-bottom: 1rem;
    padding-top: 1.5rem;
    @include dotted-border(border-bottom, $grey-2);
  }

  #sidebar {
    nav {
      font-size: larger;
      width: 70%;
      margin: auto;
      display: flex;
      flex-flow: row wrap;
      gap: .5rem;
      justify-content: center;
    }
  }

  // --- Gallery ---
  #gallery img {
    // make thumbnails smaller
    max-width: 30%;
  }
}

// Larger screens
@media only screen and (min-width: 1000px) {

  html,
  body {
    height: 100%; // extends sidebar border to bottom of screen
  }

  body {
    margin: 0;
  }

  #flex {
    max-width: 1100px;
    min-height: 100%; // extends sidebar border to bottom of screen
    margin: auto;
    display: flex;
  }

  main {
    padding: 6rem;
    flex: 85%;
    width: 100%; // allows content to take up entire space
  }

  header {
    @include dotted-border(border-right, $grey-2);
    padding: 6rem 2rem 2rem 2rem;
    flex: 15%;
  }

  #sidebar {
    position: fixed;

    #site-title {
      margin-left: -2.5rem;
    }

    nav a {
      display: block;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}
