@import 'variables';
@import 'responsive';
@import 'defaults';
@import 'cursors';

// --- Index/Homepage ---
#index {
  text-align: center;
}

#statuscafe,
#update-box {
  margin: auto; // center
}

// Status.cafe widget
#statuscafe {
  @include dotted-border(border, $green-1);
  padding: .75rem;
  width: fit-content;
  margin-bottom: 1.5rem;
}

#statuscafe-username {
  margin-bottom: .5em;

  a {
    color: $text-color;
    text-shadow: 0px 1px 1px #32323206;
  }

}

// Update box
#update-box {
  text-align: left;
  max-width: 450px;

  hr {
    border: none;
    @include dotted-border(border-bottom, $green-1);
    // width: 50%;
  }

  #hide,
  #show {
    width: fit-content;
    text-decoration: none;
    color: $black;
    font-size: 2.5rem;
  }

  ul {
    @include solid-border(border, $grey-1);
    padding: 1.5rem;
    max-height: 200px;
    overflow: auto;
    list-style: none;
  }

  li {
    .date {
      border: none;
      font-weight: bold;
      background-color: $light-grey-2;
      padding: .2rem .5rem .2rem .5rem;
      border-radius: $round-corners;
      margin-right: 10px;
      margin-bottom: .5rem;
    }

    &:not(:last-child) {
      margin-bottom: .75rem;
      padding-bottom: .75rem;
      @include solid-border(border-bottom, $grey-1);
    }
  }

  #click {
    color: $white;
    font-family: $default-font, $ss-font-stack;
    @include text-shadow(2px, $green-1, 25%);
  }

  a span {
    font-size: smaller;
    font-family: monospace;
  }
}

// Toggle Updates
.details,
.show,
.hide:target {
  display: none;
}

.hide:target+.show,
.hide:target~.details {
  display: block;
}

// --- About page ---
.polaroid {
  background-color: $white;
  padding: 1.5rem 1.5rem 0 1.5rem;
  border-radius: 5px;
  box-shadow: 3px 3px 7px $grey-1;
  border: 1px solid $grey-1;
  display: inline-block;
  text-align: center;

  img {
    box-shadow: 0px 2px 3px $grey-1;
  }

  .emoji {
    box-shadow: none;
    vertical-align: text-bottom;
  }

  p {
    margin: 0 auto;
    padding: 1rem 0 1rem 0;
    font-weight: bold;
  }
}

#cowtools {
  transform: rotate(5deg);
  margin-top: 1rem;
}

#monkey {
  transform: rotate(-5deg);
  margin-bottom: 2rem;
}

// --- Blog posts ---
.tag {
  background-color: $bg-color-darker;
  color: $grey-1;
  font-weight: bold;
  width: fit-content;
  border-radius: 1rem;
  padding: .3rem .7rem .3rem .7rem;
}

div .tag {
  display: inline;
}

#archive {
  ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
  }

  .tag {
    font-size: 1.2rem;
  }
}

.date {
  @include dotted-border(border-bottom, $green-1);
  width: fit-content;
  padding-top: 1rem;
}

.blog-post {
  @include dotted-border(border-bottom, $grey-1);
  padding-bottom: 1rem;

  &:last-child {
    margin-bottom: 3.5rem; // space before pagination
  }
}

.featured-image {
  transition: box-shadow .5s ease-in-out;

  &:hover,
  &:active {
    box-shadow: 0 0 20px $grey-2;
  }
}

.read-more {
  background-color: $green-1;
  @include text-shadow(.5px, $black, 25%);
  padding: .5rem .7rem .5rem .7rem;
  width: fit-content;
  border-radius: $round-corners;
  margin-bottom: 1rem;
  margin-top: -1rem; // move closer to content
  transition: all .5s ease-in-out;

  a {
    color: $white;
    text-decoration: none;
  }

  &:hover,
  &:active {
    background-color: $green-2;
  }
}

#pagination {
  ul {
    list-style: none;
    padding-left: 0; // remove indentation
    display: flex;
    flex-flow: row wrap;
    gap: .5rem;
    justify-content: center;
  }

  li {
    background-color: $bg-color-darker;
    padding: .5rem;
    border-radius: $round-corners;

    &:hover,
    &:active {
      background-color: $grey-1;

      a {
        text-decoration: none;
      }
    }
  }

  a {
    color: $text-color;
  }

  .page-item-active {
    background-color: $black;

    a {
      color: $white;
    }
  }
}

// Single page next/prev links
#post-navigation {
  @include dotted-border(border-top, $grey-1);
  padding-top: 1rem;
  display: flex;
  flex-flow: row wrap;
  gap: .5rem;
  justify-content: center;

  &>* {
    background-color: $bg-color-darker;
    padding: .5rem;
    border-radius: $round-corners;
    color: $text-color;
    transition: background-color .5s ease-in-out;

    &:hover,
    &:active {
      background-color: $grey-1;
      text-decoration: none;
    }
  }

  a span {
    color: $black;
    font-family: monospace;
  }
}

// Specific blog posts:
#awesome-gif-box {
  column-count: 3;
  column-gap: 10px;

  img {
    margin-bottom: 10px;
  }
}

// --- Stuff page ---
#stuff {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  font-size: 2.5rem;

  a {
    text-decoration: none;
    text-align: center;
  }

  .emoji {
    width: 2.5rem;
  }

  &>* {
    flex-grow: 1;
    color: $white;
    box-shadow: inset 0 0 0 300px #3232325b;
    @include text-shadow(5px, $black, 70%);
    padding: 3rem;
    border-radius: $round-corners;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    transition: transform .5s ease-in-out, box-shadow .5s ease-in-out;

    &:nth-child(1) {
      background-image: url(../img/stuff-l.jpg);
    }

    &:nth-child(1):hover,
    &:nth-child(1):active {
      transform: scale(1.1);
      box-shadow: inset 0 0 0 300px #31d34ccc;
    }

    &:nth-child(2) {
      background-image: url(../img/stuff-bs.jpg);

    }

    &:nth-child(2):hover,
    &:nth-child(2):active {
      transform: scale(1.1);
      box-shadow: inset 0 0 0 300px #31d34ccc;
    }

    &:nth-child(3) {
      background-image: url(../img/stuff-dc.jpg);
    }

    &:nth-child(4) {
      background-image: url(../img/stuff-m.jpg);

    }

    &:nth-child(5) {
      background-image: url(../img/emoji/gray_question_mark.png);
      background-size: 50px;
    }
  }
}

@media (prefers-reduced-motion) {

  #stuff>*:hover,
  #stuff>* {
    transition: none;
  }
}
