<header>
  <div id="sidebar">
    <div id="profile-pic">
      <h1 id="site-title">kyletools</h1>
      <img src="/img/header-pfp.jpg" alt="A cartoon drawing of kyle" />
    </div>
    <nav>
      <a href="/">home</a>
      <a href="/about">about</a>
      <a href="/blog">blog</a>
      <a href="/gallery">gallery</a>
      <a href="/stuff">stuff</a>
      <a href="/sitemap">sitemap</a>
      <a href="https://kyle.atabook.org/">guestbook</a>
    </nav>

    <img
      id="button"
      style="margin-top: 2rem; margin-bottom: 1rem; image-rendering: pixelated"
      src="/img/kt-btn.gif"
      alt="Kyletools button"
    />

    <div class="foot">&copy; {{ .Site.Copyright }}</div>
  </div>
</header>
